<div class="c-navbar">
	<div class="container-fluid">
		<!-- BEGIN: BRAND -->
		<div class="c-navbar-wrapper clearfix">
			<div class="c-brand c-pull-left">
				<a href="index.html" class="c-logo">
  				<img src="assets/base/img/layout/logos/alfred.png" alt="ALFRED" class="c-desktop-logo" height="40">
  				<img src="assets/base/img/layout/logos/alfred.png" alt="ALFRED" class="c-desktop-logo-inverse" height="30">
  				<img src="assets/base/img/layout/logos/alfred.png" alt="ALFRED" class="c-mobile-logo" height="30">
				</a>
				<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
  				<span class="c-line"></span>
  				<span class="c-line"></span>
  				<span class="c-line"></span>
				</button>
				<button class="c-search-toggler" type="button">
				<i class="fa fa-search"></i>
				</button>
			</div>
			<!-- END: BRAND -->
			<!-- BEGIN: QUICK SEARCH -->
			<form class="c-quick-search" action="#">
				<input type="text" name="query" placeholder="검색어를 입력해주세요." value="" class="form-control" autocomplete="off">
				<span class="c-theme-link">&times;</span>
			</form>
			<!-- END: QUICK SEARCH -->
			<!-- BEGIN: HOR NAV -->
			<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
			<!-- BEGIN: MEGA MENU -->
			<nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
			<ul class="nav navbar-nav c-theme-nav">
				<li class="c-onepage-link c-active active">
					<a href="#products" class="c-link">제품설명</a>
				</li>
        <li>
					<a href="#pricing" class="c-link">가격정책</a>
				</li>
				<li class="c-onepage-link ">
					<a href="#contact" class="c-link">문의</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="modal" data-target="#signup-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i>회원가입</a>
				</li>
			</ul>
			</nav>
			<!-- END: MEGA MENU -->
			<!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
			<!-- END: HOR NAV -->
		</div>
	</div>
</div>
</header>
<!-- END: HEADER -->
<!-- END: LAYOUT/HEADERS/HEADER-ONEPAGE -->
<%= render "shared/signup" %>
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40">
      고객의 목소리, 이제 <span class="c-theme-font c-font-bold">ALFRED</span> 로 관리 하세요</h3>
			<h5 class="c-font-24 c-font-thin c-font-white c-subtitle c-margin-b-40">
			회원가입하고 15일 무료로 이용해 보세요</h5>
			<%= form_tag accounts_verify_email_path, class: "form-inline", id: "js-verify-account-form" do %>
				<div class="form-group">
					<input type="text" class="form-control c-bg-transparent input-lg c-theme c-square js-username" name="username" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="email" class="form-control c-bg-transparent input-lg c-theme c-square js-email" name="email" placeholder="이메일">
				</div>
				<button type="submit" class="btn btn-lg btn-danger c-btn-uppercase c-btn-square c-btn-bold js-verify-account-button">무료로 이용하기</button>
			<% end %>
			<div class="progress-image">
			</div>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="assets/base/img/content/backgrounds/bg-40.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="assets/base/img/content/backgrounds/bg-37.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->

	<section id="about">
	<!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="c-content-title-1 c-margin-b-60">
						<h3 class="c-center c-font-uppercase c-font-bold">
						ALFRED는 이렇게 동작합니다</h3>
						<div class="c-line-center">
						</div>
						<p class="c-center c-font-17">
							ALFRED는 복잡한 모듈의 설치없이 간단한 Plug-In의 삽입만으로 강력한 기능의 Online Help Desk를 구축할 수 있습니다
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-14 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							사이트를 방문하는 고객과의 연결
						</div>
						<div class="c-description c-font-17">
							 Alfred의 간단한 Plug-In 설치를 통해 사이트를 방문하는 고객의 목소리를 수집할 수 있습니다
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr"><span class="c-content-line-icon c-icon-21 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							체계적인 고객 관리 시스템 구성
						</div>
						<div class="c-description c-font-17">
							 고객의 목소리를 체계적으로 관리할 수 있는 완벽한 환경이 이미 구성되어 있습니다
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-32 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							사이트 방문자의 인사이트 분석
						</div>
						<div class="c-description c-font-17">
							 사이트를 이용하는 고객의 인사이트를 제공하여, 보다 나은 환경을 구성할 수 있도록 도와 드립니다
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 c-font-17 c-center">
					<button class="btn c-btn-square c-theme-btn c-btn-bold">자세히 알아보기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END: CONTENT/STEPS/STEPS-1 -->
	</section>
	<section id="products">
		<div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide c-bg-grey-1">
		<div class="c-container">
			<div class="row">
				<div class="col-md-12">
					<div class="c-content-title-1">
						<h3 class="c-font-34 c-font-center c-font-bold c-font-uppercase c-margin-b-30">
						ALFRED의 주요 기능들 </h3>
						<div class="c-line-center c-theme-bg">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="c-content-tab-2 c-theme c-opt-1">
						<ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
							<li class="active">
								<a href="#c-tab2-opt1-1" data-toggle="tab">
								<span class="c-content-line-icon c-icon-25"></span>
								<span class="c-title">티켓관리</span>
								</a>
								<div class="c-arrow">
								</div>
							</li>
							<li>
								<a href="#c-tab2-opt1-2" data-toggle="tab">
								<span class="c-content-line-icon c-icon-19"></span>
								<span class="c-title">사용자분석</span>
								</a>
								<div class="c-arrow">
								</div>
							</li>
							<li>
								<a href="#c-tab2-opt1-3" data-toggle="tab">
								<span class="c-content-line-icon c-icon-14"></span>
								<span class="c-title">오류검출</span>
								</a>
								<div class="c-arrow">
								</div>
							</li>
							<li>
								<a href="#c-tab2-opt1-4" data-toggle="tab">
								<span class="c-content-line-icon c-icon-20"></span>
								<span class="c-title">지식검색</span>
								</a>
								<div class="c-arrow">
								</div>
							</li>
							<li>
								<a href="#c-tab2-opt1-5" data-toggle="tab">
								<span class="c-content-line-icon c-icon-33"></span>
								<span class="c-title">실시간응대</span>
								</a>
								<div class="c-arrow">
								</div>
							</li>
						</ul>
						<div class="c-tab-content">
							<div class="c-bg-img-center1" style="background-image: url(assets/base/img/content/backgrounds/bg-62.jpg)">
								<div class="container">
									<div class="tab-content">
										<div class="tab-pane fade in active" id="c-tab2-opt1-1">
											<div class="c-tab-pane">
												<img class="img-responsive" src="assets/base/img/content/stock2/3.jpg" alt="">
												<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">온라인 고객문의 관리</h4>
												<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin">
													 아직도 고객문의를 별도의 Form을 통해서 처리 하시나요? 이제 Alfred를 통해 편리하고 빠르게 고객의 목소리를 관리할 수 있습니다. 고객의 E-mail 계정과 연계하여 티켓 생성부터 처리까지 원스톱으로 편리하게 처리되는 Alfred, 영상을 통해 더 자세하게 알아보세요.
												</p>
											</div>
										</div>
										<div class="tab-pane fade" id="c-tab2-opt1-2">
											<div class="c-tab-pane">
												<img class="img-responsive" src="assets/base/img/content/stock2/04.jpg" alt="">
												<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Optimzied For All Screen Sizes &amp; Types</h4>
												<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
													 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
												EXPLORE </button>
											</div>
										</div>
										<div class="tab-pane fade" id="c-tab2-opt1-3">
											<div class="c-tab-pane">
												<img class="img-responsive" src="assets/base/img/content/stock2/5.jpg" alt="">
												<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Dedicated Support To All Customers</h4>
												<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
													 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit enim ad minim veniam lobortis nisl ut aliquip ex ea commodo consequat exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
												EXPLORE </button>
											</div>
										</div>
										<div class="tab-pane fade" id="c-tab2-opt1-4">
											<div class="c-tab-pane">
												<img class="img-responsive" src="assets/base/img/content/stock2/06.jpg" alt="">
												<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Coded By Developers For Developers</h4>
												<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
													 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed enim ad minim veniam diam nonummy nibh euismod tincidunt ut enim ad minim veniam laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
												EXPLORE </button>
											</div>
										</div>
										<div class="tab-pane fade" id="c-tab2-opt1-5">
											<div class="c-tab-pane">
												<img class="img-responsive" src="assets/base/img/content/stock2/6.jpg" alt="">
												<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Unlimited Flexible Multi-purpose Layouts &amp; Components</h4>
												<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
													 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed enim ad minim veniam diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat enim ad minim veniam.
												</p>
												<button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
												EXPLORE </button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="pricing">
	<!-- BEGIN: CONTENT/PRICING/PRICING-5 -->
	<div class="c-content-box c-size-md">
		<div class="container">
			<div class="row c-margin-t-10 c-margin-b-10">
				<div class="col-md-12">
					<div class="c-content-title-1 c-title-pricing-1">
						<h3 class="c-font-uppercase c-font-bold">제품별 가격정책</h3>
						<div class="c-row c-try">
							<button class="btn btn-md c-btn-square c-btn-red c-btn-uppercase c-btn-bold">무료로 이용해보기</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="c-content-pricing-1 c-opt-1">
					<div class="col-md-3 c-sm-hidden">
						<div class="c-content c-column-odd c-padding-adjustment">
							<div class="c-row c-type c-font-20 c-align-left">
								제품 기능
							</div>
							<div class="c-row c-title c-font-17">
								에이전트
							</div>
							<div class="c-row c-title c-font-17">
								티켓관리
							</div>
							<div class="c-row c-title c-font-17">
								지식기반 검색
							</div>
							<div class="c-row c-title c-font-17">
								사용자 분석
							</div>
							<div class="c-row c-title c-font-17">
								오류검출
							</div>
							<div class="c-row c-title c-font-17">
								기술지원
							</div>
							<div class="c-row c-empty">
								&nbsp;
							</div>
							<div class="c-row c-empty">
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-even c-padding-adjustment">
							<div class="c-row c-type c-font-20">
								Starter
							</div>
							<div class="c-row c-font-17">
								 1 <span class="c-sub-title">1개의 에이전트 지원</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-times c-font-20"></i><span class="c-sub-title">미제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-times c-font-20"></i><span class="c-sub-title">미제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-times c-font-20"></i><span class="c-sub-title">미제공</span>
							</div>
							<div class="c-row c-price">
								<span class="c-dollar c-font-20"></span><span class="c-font-30 c-font-bold">12,000 / 월</span>
							</div>
							<div class="c-row c-purchase">
								<button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">구매하기</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-odd c-padding-adjustment">
							<div class="c-row c-type c-font-20">
								SMB
							</div>
							<div class="c-row c-font-17">
								10 <span class="c-sub-title">10 개의 에이전트 지원</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row c-price">
								<span class="c-dollar c-font-20"></span><span class="c-font-30 c-font-bold">25,000 / 월</span>
							</div>
							<div class="c-row c-purchase">
								<button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">구매하기</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-even">
							<div class="c-row c-type c-font-20">
								Business
							</div>
							<div class="c-row c-font-17">
								무제한 <span class="c-sub-title">에이전트 갯수 무제한</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">제공</span>
							</div>
							<div class="c-row c-price">
								<span class="c-dollar c-font-20"></span><span class="c-font-20 c-font-bold">별도문의</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: CONTENT/PRICING/PRICING-5 -->
	</section>
	<!-- END: PAGE CONTENT -->
	<section id="reviews">
		<!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->
		<div class="c-content-box c-size-md c-bg-grey-1">
			<div class="container">
				<div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">고객의 사용후기</h3>
						<div class="c-line-center c-theme-bg">
						</div>
						<p class="c-center">
							Alfred의 편리한 기능에 많은 고객님이 만족하고 있습니다
						</p>
					</div>
					<div class="owl-carousel owl-theme c-theme">
						<div class="item">
							<div class="c-content-testimonial-3 c-option-default">
								<div class="c-content">
									 클레비 서비스를 런칭한지 얼마되지 않아 우리는 고객의 목소리를 진지하게 받아들여야 한다고 느꼈습니다. Alfred 는 우리의 이러한 니즈를 해결해 주는데 탁월한 선택이었습니다.
								</div>
								<div class="c-person">
									<img src="assets/base/img/content/avatars/team1.jpg" class="img-responsive">
									<div class="c-person-detail c-font-uppercase">
										<h4 class="c-name">장광우</h4>
										<p class="c-position c-font-bold c-theme-font">
											CTO, 클레비
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="c-content-testimonial-3 c-option-default">
								<div class="c-content">
									 서비스를 운영 하다보면 계속해서 비슷한 유형의 질문이 발생하는 것을 경험할 수 있었습니다. Alfred 는 Q&amp;A 내용을 Knowledge Base로 만들 수 있어 질의/응답에 많은 도움이 되었습니다.
								</div>
								<div class="c-person">
									<img src="assets/base/img/content/avatars/team6.jpg" class="img-responsive">
									<div class="c-person-detail c-font-uppercase">
										<h4 class="c-name">이언정</h4>
										<p class="c-position c-font-bold c-theme-font">
											Developer, 4shift.com
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="c-content-testimonial-3 c-option-default">
								<div class="c-content">
									 사용자들이 서비스를 이용하는 도중 페이지에서 오류가 발생할 경우 사용자가 알려주기 전에는 오류 사항을 알기 힘들었습니다. 이제 Alfred 가 오류사항을 알려주니 빠르게 오류 사항을 개선할 수 있어요.
								</div>
								<div class="c-person">
									<img src="assets/base/img/content/avatars/team4.jpg" class="img-responsive">
									<div class="c-person-detail c-font-uppercase">
										<h4 class="c-name">이승익</h4>
										<p class="c-position c-font-bold c-theme-font">
											QA Manager, (주) 현대로템
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->
	</section>
	<section id="clients">
		<!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1" data-slider="owl" data-items="5" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="1" data-auto-play="5000">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Our Clients</h3>
					<div class="c-line-center c-theme-bg">
					</div>
				</div>
				<!-- End-->
				<!-- Begin: Owlcarousel -->
				<div class="owl-carousel owl-theme c-theme">
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo1.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo2.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo3.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo4.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo5.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo6.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo7.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo8.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo9.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo10.jpg" alt=""/></a>
					</div>
					<div class="item">
						<a href="#"><img src="assets/base/img/content/client-logos/logo11.jpg" alt=""/></a>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
	<!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
	</section>
</div>
<!-- END: PAGE CONTAINER -->
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-2 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-1">
<div class="c-postfooter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p class="c-copyright c-font-oswald c-font-14">
					 Copyright &copy; 4shift.com Inc.
				</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="c-socials">
					<li>
						<a href="#"><i class="icon-social-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="icon-social-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="icon-social-youtube"></i></a>
					</li>
					<li>
						<a href="#"><i class="icon-social-dribbble"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-2 -->
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
	<script src="../assets/global/plugins/excanvas.min.js"></script>
	<![endif]-->
<script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery.easing.min.js" type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src="assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
<script src="assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<script src="assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script src="assets/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="assets/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="assets/base/js/components.js" type="text/javascript"></script>
<script src="assets/base/js/app.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		App.init(); // init core
	});
	</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
<script src="assets/base/js/scripts/revo-slider/slider-7.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->
<script src="assets/pages/accounts.js" type="text/javascript"></script>
<script src="assets/lib/dispatcher.js" type="text/javascript"></script>
